In [6]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model_name="gpt-4o-mini",
)

db = SQLDatabase.from_uri("sqlite:///movies.sqlite")

# 사용하기 원하는 툴킷 불러오기
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent = create_sql_agent(
    llm=llm,
    # agent에 toolkit 지정하기
    toolkit=toolkit,
    # OPENAI_FUNCTIONS가 ZERO_SHOT_REACT_DESCRIPTION보다 적은 토큰을 사용해 같은 일을 할 수 있음
    agent_type=AgentType.OPENAI_FUNCTIONS,
    verbose=True,
)

# 지원하는 toolkits가 무엇이 있는지 어떤 일을 하는지 알아볼 수 있음
# toolkit.get_tools()

agent.invoke(
    "Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue."
)

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with `{}`


directors, movies
Invoking: `sql_db_schema` with `{'table_names': 'movies,directors'}`



CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Invoking: `sql_db_query_checker` with `{'query': 'SELECT m.title, m.budget, m.revenue, d.name AS director_name, m.vote_count\nFROM movies m\nJOIN directors d ON m.director_id = d.id\nORDER BY m.vote_count DESC, m.budget ASC\nLIMIT 10;'}`
responded: To find the movies with the highest votes but the lowest budgets, along with their directors and gross revenue, I will need to join the `movies` table with the `directors` table on the `director_id`.

I will create a query that selects the movie title, budget, revenue, director name, and vote count, ordering by vote count in descending order and budget in ascending order.

Here is the query I will use:

```sql
SELECT m.title, m.budget, m.revenue, d.name AS director_name, m.vote_count
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```

Now, I will check this query for correctness before executing it.

```sql
SELECT m.title, m.budget, m.revenue, d.name AS director_name, m.vote_count
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10;
```
Invoking: `sql_db_query` with `{'query': 'SELECT m.title, m.budget, m.revenue, d.name AS director_name, m.vote_count\nFROM movies m\nJOIN directors d ON m.director_id = d.id\nORDER BY m.vote_count DESC, m.budget ASC\nLIMIT 10;'}`


[('Inception', 160000000, 825532764, 'Christopher Nolan', 13752), ('The Dark Knight', 185000000, 1004558444, 'Christopher Nolan', 12002), ('Avatar', 237000000, 2787965087, 'James Cameron', 11800), ('The Avengers', 220000000, 1519557910, 'Joss Whedon', 11776), ('Deadpool', 58000000, 783112979, 'Tim Miller', 10995), ('Interstellar', 165000000, 675120017, 'Christopher Nolan', 10867), ('Django Unchained', 100000000, 425368238, 'Quentin Tarantino', 10099), ('Guardians of the Galaxy', 170000000, 773328629, 'James Gunn', 9742), ('The Hunger Games', 75000000, 691210692, 'Gary Ross', 9455), ('Mad Max: Fury Road', 150000000, 378858340, 'George Miller', 9427)]Here are the movies with the highest votes but the lowest budgets, along with their directors and gross revenue:

1. **Inception**
   - Director: Christopher Nolan
   - Budget: $160,000,000
   - Revenue: $825,532,764
   - Vote Count: 13,752

2. **The Dark Knight**
   - Director: Christopher Nolan
   - Budget: $185,000,000
   - Revenue: $1,004,558,444
   - Vote Count: 12,002

3. **Avatar**
   - Director: James Cameron
   - Budget: $237,000,000
   - Revenue: $2,787,965,087
   - Vote Count: 11,800

4. **The Avengers**
   - Director: Joss Whedon
   - Budget: $220,000,000
   - Revenue: $1,519,557,910
   - Vote Count: 11,776

5. **Deadpool**
   - Director: Tim Miller
   - Budget: $58,000,000
   - Revenue: $783,112,979
   - Vote Count: 10,995

6. **Interstellar**
   - Director: Christopher Nolan
   - Budget: $165,000,000
   - Revenue: $675,120,017
   - Vote Count: 10,867

7. **Django Unchained**
   - Director: Quentin Tarantino
   - Budget: $100,000,000
   - Revenue: $425,368,238
   - Vote Count: 10,099

8. **Guardians of the Galaxy**
   - Director: James Gunn
   - Budget: $170,000,000
   - Revenue: $773,328,629
   - Vote Count: 9,742

9. **The Hunger Games**
   - Director: Gary Ross
   - Budget: $75,000,000
   - Revenue: $691,210,692
   - Vote Count: 9,455

10. **Mad Max: Fury Road**
    - Director: George Miller
    - Budget: $150,000,000
    - Revenue: $378,858,340
    - Vote Count: 9,427

These results show a mix of high-vote movies with varying budgets and revenues.

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.',
 'output': 'Here are the movies with the highest votes but the lowest budgets, along with their directors and gross revenue:\n\n1. **Inception**\n   - Director: Christopher Nolan\n   - Budget: $160,000,000\n   - Revenue: $825,532,764\n   - Vote Count: 13,752\n\n2. **The Dark Knight**\n   - Director: Christopher Nolan\n   - Budget: $185,000,000\n   - Revenue: $1,004,558,444\n   - Vote Count: 12,002\n\n3. **Avatar**\n   - Director: James Cameron\n   - Budget: $237,000,000\n   - Revenue: $2,787,965,087\n   - Vote Count: 11,800\n\n4. **The Avengers**\n   - Director: Joss Whedon\n   - Budget: $220,000,000\n   - Revenue: $1,519,557,910\n   - Vote Count: 11,776\n\n5. **Deadpool**\n   - Director: Tim Miller\n   - Budget: $58,000,000\n   - Revenue: $783,112,979\n   - Vote Count: 10,995\n\n6. **Interstellar**\n   - Director: Christopher Nolan\n   - Budget: $165,000,000\n   - Revenue: $675,120,017\n   - Vote Count: 10,867\n\n7. **Django Unchained**\n   - Director: Quentin Tarantino\n   - Budget: $100,000,000\n   - Revenue: $425,368,238\n   - Vote Count: 10,099\n\n8. **Guardians of the Galaxy**\n   - Director: James Gunn\n   - Budget: $170,000,000\n   - Revenue: $773,328,629\n   - Vote Count: 9,742\n\n9. **The Hunger Games**\n   - Director: Gary Ross\n   - Budget: $75,000,000\n   - Revenue: $691,210,692\n   - Vote Count: 9,455\n\n10. **Mad Max: Fury Road**\n    - Director: George Miller\n    - Budget: $150,000,000\n    - Revenue: $378,858,340\n    - Vote Count: 9,427\n\nThese results show a mix of high-vote movies with varying budgets and revenues.'}